# ArduboyWorks [![CircleCI Build Status](https://circleci.com/gh/obono/ArduboyWorks.svg?style=shield)](https://circleci.com/gh/obono/ArduboyWorks) ![MIT Licensed](https://img.shields.io/badge/license-MIT-blue.svg)

Making mini games for [Arduboy](https://www.arduboy.com/).

[My repository information (JSON)](https://obono.github.io/ArduboyWorks/repo.json) \
[Repository viewer](https://obono.github.io/ArduboyWorks/?repo.json)

## Products

{{#items}}
* {{{codeName}}} {{#url}}[{{{title}}}]({{{url}}}){{/url}}{{^url}}{{{title}}}{{/url}}{{#extraNote}} ({{{extraNote}}}){{/extraNote}}
  * {{{description}}}
  * Depend on Arduboy Library 1.1.1\
    ![title](docs/img/{{{nickName}}}1.gif) ![playing](docs/img/{{{nickName}}}2.gif)
{{/items}}

## License

These codes are licensed under [MIT-License](LICENSE).
