body {
	background: #bbc;
}

div.result {
	font-size: 0;
}

div.result ul li {
	font-size: medium;
}

div.item {
	width: 128px;
	height: 160px;
	margin: 4px;
	padding: 4px;
	background: #dde;
	display: inline-block;
	position:relative;
	vertical-align: top;
}

img.item_image {
	width: 128px;
	height: 64px;
	display: block;
}

span.item_title {
	font-size: medium;
	font-weight: bold;
	line-height: 1.25em;
	color: #334;
	display: block;
}

div.item_info span {
	font-size: small;
	line-height: 1.25em;
	color: #778;
	display: block;
}

div.item_actions {
	font-size: medium;
	position: absolute;
	bottom: 0px;
	right: 8px;
}

div.item_actions a img {
	width: 16px;
	height: 16px;
	cursor: pointer;
}

div#emulator_base {
	position: fixed;
	background-color: #0009;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	overflow: auto;
}

div#emulator_area {
	position: absolute;
	background-color: #999;
	width: 272px;
	height: 224px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: small;
	text-align: center;
}

div#emulator_area iframe {
	width: 256px;
	height: 128px;
	border: none;
	margin: 8px;
}

input#text_url {
	width: 85%;
	max-width: 520px;
}
